/* this 
is a a 
comment */
/* CSS syntax
selector { 
  property: value;
  property: value;
}
*/
p { /*select all <p> */
  font-size: 1em; /*16px or pt 100% or ems */
  line-height: 1.5em; 
}

figcaption{
  
}